.img1{
  background-image: url("../../../../assets/images/work/portfolio-thumbnails/port-thub-one.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.img2{
  background-image: url("../../../../assets/images/work/portfolio-thumbnails/port-thub-two.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.img3{
  background-image: url("../../../../assets/images/work/portfolio-thumbnails/port-thub-three.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.img4{
  background-image: url("../../../../assets/images/work/portfolio-thumbnails/port-thub-four.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}


.hStyle {
   text-decoration: none;

 }

.fa-style{
  padding-right: 10px;
  color: #1e1e1e;
}
.fa-padding-left{
  padding: 0px 15px 0px 5px;
}

.port-bg-style{
  background-image: url("../../../../assets/images/work/portfolio-page-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  //min-height: 1080px;

}

.imgtest {
  width: 100%;
  height: auto;
}
